@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf") format("truetype");
}
body{
    margin: 0;
    font-family: 'Roboto';
}
.menu button{
    background-color: transparent;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left-style: solid;
    border-left-color: 5px;
    border-width: 0px 0px 0px 5px;
    border-color: transparent;
}
.menu button:focus{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #e74c3c;
    outline: none;
}
.menu button img{
    width:40%; 
    padding-bottom: 4px;
}
.grid-container {
    display: grid;
    grid-template-columns: 110px auto;
    grid-gap: 1px;
    font-size: 14pt;
}
.header,.menu {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    grid-area: 1 / 1 / 15 / 1 ;
    background-color: #5B5B5B;
    box-shadow: 3px 0px 5px grey;
    height: 100vh;
}
.homeheader {
    grid-area: 1 / 2 / 1 / 6 ;
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24pt; 
    background-color: rgb(3, 146, 146);
    box-shadow: 0px 3px 5px rgb(0, 194, 201);
}
.left {
    grid-area: 2 / 2 / 15 / 3 ;
    text-align: center;
    padding-top: 20px;
}
.leftcenter {
    grid-area: 2 / 3 / 15 / 4 ;
    text-align: center;
    padding-top: 20px;
}
.rightcenter {
    grid-area: 2 / 4 / 15 / 5 ;
    text-align: center;
    padding-top: 20px;
}
.right {
    grid-area: 2 / 5 / 15 / 6 ;
    text-align: center;
    padding-top: 20px;
}
p {
    font-size: 45pt;
    color: #6F6F6F;
}